@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.0/sweetalert2.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
    background-image:url(https://img.freepik.com/free-photo/abstract-blue-geometric-shapes-background_24972-1842.jpg?size=626&ext=jpg&ga=GA1.2.1783037838.1671287098);
    font-family: 'Poppins', sans-serif !important;
    background-size: cover;
}

.container {
    max-width: 1140px;
}

.btn-default {
    background-color: #1b6ec2;
    color: white;
}

.btn-default:hover {
    background-color: dodgerblue;
    color: whitesmoke;
}

.key-sensi {
    filter: blur(3px);
}
.switchBtn {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}
.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 0px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    left: 20px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #8CE196;
    padding-left: 10px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(6px);
    -ms-transform: translateX(6px);
    transform: translateX(6px);
    left: -3px;
}
.slide.round {
    border-radius: 34px;
}
.slide.round:before {
    border-radius: 50%;
}